<h1> New Profile </h1>
<%= form_for @profile do |f| %>
<%= f.label :about %>
<%= f.text_area :about %>
<%= f.label :birthdate %>
<%= f.date_field :birthdate %>
<%= f.label :gender %>
<%= f.select :gender, [['Female', true], ['Male', false]], 
                                selected: false %>
<%= f.submit %>
<% end %>
